/*=========Main styles=========*/
*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

input {
  border: none;
  outline: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.ibg img {
  display: none;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

/*=========Header==============*/
.header {
  padding: 30px 0;
  color: #000;
}
.header__inner {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-family: "EB Garamond", serif;
  font-size: 48px;
  font-weight: 800;
}
.header__link {
  margin-right: 45px;
  opacity: 0.75;
  border-bottom: 3px solid transparent;
  transition: opacity 0.2s linear, border-color 0.2s linear;
}
.header__link:last-child {
  margin: 0;
}
.header__link:hover {
  opacity: 1;
  border-color: #d24f4f;
}
.header__info {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  align-items: left;
  color: #000;
  font-size: 16px;
}
.header__name {
  font-weight: bold;
  font-size: 24px;
}
.header__job {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.header__email {
  color: #1627cb;
}

.section {
  padding: 80px 0;
}
.section__header {
  margin-bottom: 80px;
}
.section__title {
  font-family: "Open Sans", sans-serif;
  font-size: 68px;
  color: #000;
}
.section__title:before {
  content: "";
  display: block;
  width: 93px;
  height: 4px;
  background-color: #000;
}
.section__title--text {
  margin-bottom: 20px;
}
.section__text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: gray;
}

/*=========About==============*/
.about__inner {
  display: flex;
  display: -ms-flexbox;
  justify-content: flex-start;
}
.about__column {
  margin-left: 50px;
  flex: 0 0 53%;
}
.about__paragraph {
  margin-bottom: 28px;
}
.about__paragraph:last-child {
  margin: 0;
}
.about__subtitle {
  margin-bottom: 2px;
  padding-left: 25px;
  position: relative;
  font-size: 18px;
}
.about__subtitle--blue:before {
  background-color: #5760a9;
}
.about__subtitle--green:before {
  background-color: #9af5d5;
}
.about__subtitle--purple:before {
  background-color: #c29af5;
}
.about__subtitle:before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 0);
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.about__text {
  font-size: 15px;
}

/*=========Portfolio==============*/
.portfolio__inner {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-around;
  flex-wrap: wrap;
}
.portfolio__item {
  margin: 20px 0;
  padding: 30px 24px;
  width: 400px;

  transition: box-shadow .2s linear,
  display .2s linear;
}
.portfolio__item:hover {
  box-shadow: 3px 3px 3px 5px rgba(0,0,0, 0.2);
}
.portfolio__title {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #000;
  text-transform: capitalize;
}
.portfolio__text {
  margin: 10px 0 40px;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align-last: left;
}
.portfolio__image {
  padding-top: 90%;
  background-color: gray;
  background-size: cover;
  background-position: top;
}

/*=========Skills==============*/
.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.skill {
  margin: 0 0 50px 55px;
  width: 63%;
}
.skill__image {
  padding: 30% 0 30%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.skill__title {
  margin-bottom: 9px;
  font-size: 21px;
  color: #212121;
}
.skill__value {
  display: flex;
}
.skill__percent {
  color: #3c3c3c;
}
.skill__percent:after {
  content: "%";
}
.progress_cell {
  margin-right: 3px;
  height: 9px;
  display: block;
  flex: 1;
  background-color: #9c9c9c;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.progress_cell:last-child {
  margin: 0;
}
.progress_cell__filled {
  background-color: #5760a9;
}

/*=========Contact==============*/
.contact__inner {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-around;
}
.contact__item {
  display: flex;
  position: relative;
  text-align: center;
}
.contact__title {
  font-family: "EB Garamond", sans-serif;
  font-size: 28px;
  font-weight: 800;
  z-index: 1000;
  color: gray;
  text-transform: uppercase;
}

/*=========Footer==============*/
.footer__inner {
  padding: 20px 40px;
  width: 100%;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: space-between;
  background-color: #212531;
}
.footer__logo {
  font-family: "EB Garamond", serif;
  font-size: 48px;
  font-weight: 800;
  color: #fff;
}
.footer__copy {
  font-size: 16px;
  color: #909298;
}

/*=========Caorusel==============*/
.caourusel {
  margin-left: 35px;
  display: flex;
  display: -ms-flexbox;
  flex-direction: row;
}
.caourusel__item {
  padding: 5px;
  border: 1px solid black;
  border-radius: 13px;
  margin-right: 12px;

  cursor: pointer;
}
.caourusel__item:last-child {
  margin: 0;
}

/*=========Media==============*/
@media (max-width: 1300px) {
  .container {
    padding: 0 5%;
  }
}
@media (max-width: 1100px) {
  .header__info {
    font-size: 14px;
  }
  .header__name {
    font-size: 20px;
  }
  .about__column {
    margin: 0;
    flex: 0 0 100%;
  }
}
@media(max-width: 900px) {
  .skill {
    margin: 0 0 50px 0;
    width: 100%;
  }
  .section__title {
    font-size: 50px;
  }
}
